# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/
env/
.env

# Data and Outputs
/backend/data/
*.xlsx
*.csv
*.db
*.sqlite3

# Operating System
.DS_Store
Thumbs.db

# Frontend dependencies
/frontend/node_modules/
/frontend/build/